@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: black url('../imagens/anime-night-background-mpiye.webp') center top/cover no-repeat fixed;
}

main {
    display: block;
    margin: auto;
    background-color: rgb(255, 255, 255);
    max-width: 850px;
    text-align: justify;
}

main h1,h2 {
    color: red;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.349);
    text-align: center;
    width: calc(50% -40px);
    font-size: 1.5em;
}

img {
    display: block;
    width: 100%;
}

ul {
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
}